.cart {
    position: relative;
    margin-left: auto;
    color: black;
    margin-right: 2rem;
    font-size: 0.7rem;
}

.cart__img {
    flex: 1;
    width: 2rem;
    margin-left: 1rem;
}
.cart__img {
    padding: 1rem;
    width: 1.5rem;
    margin-left: 1rem;
    border-radius: 0.5rem;

    transition: transform 0.7s ease-in-out, scale 0.5s, background-color 0.5s,
        box-shadow 0.5s, padding 0.7s;
}
.cart__img:hover {
    cursor: pointer;
    background-color: #ff8caf;

    scale: 1.1;
    margin-left: 1rem;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.cart__img--active {
    scale: 1.1;
    margin-left: 1rem;
    transform: rotateY(180deg);
    padding-right: 14.7rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    background-color: #61d9fb;
}
.cart__img--active:hover {
}

.cart__counter {
    transition: top 0.3s ease-in-out, opacity 0.7s ease-in-out;
    position: absolute;
    opacity: 0;
    top: 50%;
}
.cart__counter--active {
    opacity: 1;
    top: -12px;
    right: 4px;
}

.cart__list {
    background-color: #61d9fb;
    color: white;
    top: 102%;
    width: 14rem;
    pointer-events: none;
    padding: 2rem;
    position: absolute;
    transition: all 0.7s ease-in-out;
    right: -40rem;
    opacity: 0;
    border-radius: 1rem;
}

.cart__list--active {
    opacity: 1;
    right: 2rem;
}
