.cart {
    position: relative;
    margin-left: auto;
    color: black;
    margin-right: 2rem;
    font-size: 0.7rem;
}

.cart__img {
    flex: 1;
    width: 4rem;
    margin-left: 1rem;
}
.cart__img {
    border: 1px solid black;
    cursor: pointer;
    padding: 1rem;
    width: 1.5rem;
    margin-left: 1rem;
    border-radius: 0.5rem;

    transition-property: padding, top, border-radius;
    transition-duration: 0.2s, 1s;
    transition-delay: 0.2s, 1s;
    transition-timing-function: linear;
}
.cart__img:hover {
    cursor: pointer;

    margin-left: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.cart__img--active {
    border-radius: 1rem 1rem 0rem 0rem;
    padding-right: 14rem;
    border: 1px solid black;
}
.cart__img--active:hover {
    scale: 1;
    box-shadow: none;
}

.cart__counter {
    position: absolute;
    opacity: 0;
    top: 50%;
}
.cart__counter--active {
    opacity: 1;
    top: -8px;
    right: 8px;
}

.cart:hover .cart__counter {
    opacity: 0;
}

.cart__list {
    background-color: #a62b2b;

    position: absolute;
    pointer-events: none;
    font-size: 1rem;
    /* background-color: #61d9fb; */
    border: 1px solid black;
    color: black;
    width: 12.5rem;
    padding: 2rem;
    border-radius: 0rem 0rem 1rem 1rem;

    transition-property: top, right;
    transition-duration: 0.1s, 0.1s;
    transition-delay: 0s, 0.2s;
    transition-timing-function: ease-in-out;

    top: 120%;
    right: -40rem;
}

.cart__list--active {
    right: 2rem;
    top: 84%;

    transition-property: right, top;
    transition-duration: 0.4s, 0.1s;
    transition-delay: 0s, 0.6s;
    transition-timing-function: ease-in-out;
}
