.header {
    display: flex;
    align-items: center;
    background: rgb(202, 77, 184);
    color: white;
    height: 5rem;
    width: 100vw;
    font-size: 2rem;
}

.logo {
    margin-left: 2rem;
    width: 2rem;
}
