.header {
    position: relative;
    display: flex;
    align-items: center;
    background-color: beige;
    color: white;
    height: 5rem;
    width: 100vw;
    font-size: 2rem;
}

.logo {
    margin-left: 2rem;
    width: 2rem;
    border-radius: 2rem;
}
